<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Financial TicStack</title>
 
  <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
 <!-- Here the header and navbar of wep app -->
  <!--===============- Header Financial TicStack ==================-->

<<<<<<< HEAD
     <!--=============== NAV ===============-->
     <div class="nav" id="nav">
      <nav class="nav__content">
          <div class="nav__toggle" id="nav-toggle">
              <i class='bx bx-chevron-right' ></i>
          </div>

          <a href="#" class="nav__logo">
              <i class='bx bxs-heart' ></i>
              <span class="nav__logo-name">TicStack</span>
          </a>

          <div class="nav__list">
              <a href="#" class="nav__link active-link">
                  <i class='bx bx-grid-alt'></i>
                  <span class="nav__name">Dashboard</span>
              </a>

              <a href="#" class="nav__link">
                  <i class='bx bx-file'></i>
                  <span class="nav__name">Income & Expense</span>
              </a>

              <a href="#" class="nav__link">
                  <i class='bx bx-envelope' ></i>
                  <span class="nav__name">Messages</span>
              </a>

             

              <a href="#" class="nav__link">
                  <i class='bx bx-cog' ></i>
                  <span class="nav__name">Settings</span>
              </a>
          </div>
      </nav>
  </div>
  <!----------------- Header Financial TicStack ------------------------------>

<!--------------------------------------- Main Financial TicStack ------------------------------------>
=======
<!-- ==================- Main Financial TicStack  ==================-->
>>>>>>> efd90373049bbec9b7f8f72a8608e54530d06aac

