<%- include("_header") -%>
<div class="head">
 
 
   <!--=============== MAIN ===============-->
   <main class="container section">
    <h1>Components</h1>
</main>


 
</div>
   
<%- include("_footer") -%>
